/script/ca-pxe.to.crt
/script/create_enc_archive.sh
/script/decrypt-secrets.sh
/script/privkey-pxe.to.pem
/ipxe_build
/build
/ca.crt
/*.crt
/bin 
/CONTRIBUTING.md 
/docs
/ipxe
/README.md 
/script 
/src




